@model QLThuVIen.Models.TAILIEU

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TAILIEU</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TENTAILIEU)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TENTAILIEU)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TACGIA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TACGIA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HINHANH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HINHANH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SOLUONG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SOLUONG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SOTRANG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SOTRANG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NHAXB.TENNHAXB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NHAXB.TENNHAXB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.THELOAI.TENTL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.THELOAI.TENTL)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
